https://clang.llvm.org/docs/ClangFormatStyleOptions.html

Language: Cpp
 
BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 80

Standard: Cpp11
SortIncludes: true

SpaceBeforeParens: ControlStatements

DerivePointerAlignment: false
PointerAlignment: Left

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
NamespaceIndentation: All
# AllowShortFunctionsOnASingleLine: Inline
# AllowShortIfStatementsOnASingleLine: AllIfsAndElse
# AllowShortLoopsOnASingleLine: true
